.nfs*
.coveragerc
log2
log-ncu
log-nsys
log
build
build-bk
log-backup
Megatron-LM-3
backup
AMP
my-gpt2_text_document_train_*
image/megatron-latest.sqsh
__pycache__

conv-yaml.py

distribute-test*
log-nsys
image/nvcr.io+nvidia+pytorch+23.03-py3.sqsh
FASOP_bk/amp_utils.py
FASOP_bk/estimate.py
FASOP_bk/FASOP_1.5b.py
FASOP_bk/FASOP_345m.py
FASOP_bk/FASOP_pareto.py
FASOP_bk/pipe.py
FASOP_bk/stage.py
FASOP_bk/known_cost/gpt2_A10_1.npy
FASOP_bk/known_cost/gpt2_A10_2.npy
FASOP_bk/known_cost/gpt2_A10_4.npy
FASOP_bk/known_cost/gpt2_A100_1.npy
FASOP_bk/known_cost/gpt2_A100_2.npy
FASOP_bk/known_cost/gpt2_A100_4.npy
FASOP_bk/known_cost/gpt2_G4_1.npy
FASOP_bk/known_cost/gpt2_G4_2.npy
FASOP_bk/known_cost/gpt2_G4_4.npy
FASOP_bk/known_cost/gpt2_medium_a10_tp1.npy
FASOP_bk/known_cost/gpt2_medium_a10_tp2.npy
FASOP_bk/known_cost/gpt2_medium_a10_tp4.npy
FASOP_bk/known_cost/gpt2_medium_a100_tp1.npy
FASOP_bk/known_cost/gpt2_medium_a100_tp2.npy
FASOP_bk/known_cost/gpt2_medium_a100_tp4.npy
FASOP_bk/known_cost/gpt2_P3_1.npy
FASOP_bk/known_cost/gpt2_P3_2.npy
FASOP_bk/known_cost/gpt2_P3_4.npy
FASOP_bk/known_cost/gpt2XL_A10_1.npy
FASOP_bk/known_cost/gpt2XL_A10_2.npy
FASOP_bk/known_cost/gpt2XL_A10_4.npy
FASOP_bk/known_cost/gpt2XL_A100_1.npy
FASOP_bk/known_cost/gpt2XL_A100_2.npy
FASOP_bk/known_cost/gpt2XL_A100_4.npy
FASOP_bk/known_cost/gpt2XL_RTX3090_1.npy
FASOP_bk/known_cost/gpt2XL_RTX3090_2.npy
FASOP_bk/known_cost/gpt2XL_RTX3090_4.npy
FASOP_bk/known_cost/load.py
FASOP_bk/known_cost/profile.ipynb
FASOP_bk/known_cost/profile.py
FASOP_bk/known_cost/transgan_P3_1.npy
FASOP_bk/known_cost/transgan_P3_2.npy
FASOP_bk/known_cost/transgan_P3_4.npy
FASOP_bk/main_logs/gpt1.5b.txt
FASOP_bk/main_logs/gpt345m.txt
HetGPT/main_logs/gtp2-1.5b.txt
HetGPT/main_logs/het_cluster_1682576001.txt
